[Desktop Entry]
Name=m4kc
Comment=Minecraft 4k: decompiled, translated to C, and improved upon 
Exec=m4kc
Icon=/usr/share/icons/hicolor/256x256/apps/m4kc.png
Terminal=false
Type=Application
Categories=Game
Keywords=Game;Minecraft;Voxel
